.container{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5%;
    padding: 15px 290px 35px 45px;
    width:55%;
    gap: 15px;

}

.image img{
    height: 364px;
    width: 339px;
    margin: 0 0 -127% 93%; 
   
}

.titulo, .txt{
    color: hsl(234, 29%, 20%);
    font-size: 38px;
}

.subtitulo{
    color: hsl(234, 29%, 20%);
    font-size: 11px;
}

.lista{
    color: hsl(234, 29%, 20%);
    list-style-type: none;
    font-size: 11px;
    margin: -15px 0 0 26px;
    line-height: 15px;
}

.lista img{
    height: 18px;
    width: 18px;
    margin: 0 0 -21px -28px ;
}

.email-label{
    color: hsl(234, 29%, 20%);
    font-size: 10px;
    font-weight: 600;
    margin:10px 0 -10px 0;
}

.email-box, .btn-sub, .btn-dismiss{
    padding:15px 10px 15px 10px ;
    margin-right: 12px;
    border-radius: 5px;
}

.email-box{
    border: 1px solid hsl(231, 7%, 60%);   
    font-size: 12px;
}

.btn-sub, .btn-dismiss{
    border: none;
    background-color: hsl(234, 29%, 20%);
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    text-decoration-line: none;
    text-align: center;
}

.btn-sub:hover{
    background-color: hsl(4, 100%, 67%);
}

/* SEGUNDA TELA */

.caixa{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5%;
    padding: 35px 45px 35px 45px;
    width:30%;
    margin-left: 13%;
    gap: 15px;
}

.check-image{
    height: 40px;
    width: 40px;
    margin: 0 0 15px 0;
}

.txt{
    line-height: 37px;
}

.txt-menor{
    color: hsl(234, 29%, 20%);
    font-size: 11px;
    margin: 5px 20px 10px 0;
}

.btn-dismiss:hover{
    background-color: hsl(4, 100%, 67%);
}